# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Node
node_modules/
npm-debug.log*

# CSS (generated)
assets/css/main.css

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Ruby
.bundle/
vendor/
